@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles for WalletMultiButton */

/* Custom wallet button styles */
.wallet-adapter-button {
  background-color: #6A7BA2; /* Change to your desired color */
  color: #FFDFDE;
  font-size: 12px; /* Smaller text */
  padding: 1px 10px; /* Smaller padding */
  height: 30px; /* Adjust height */
  border-radius: 2px; /* Adjust button rounding */
  transition: background-color 0.3s ease;
}


.wallet-adapter-button:hover {
  background-color: #FFDFDE; /* Hover color */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #000; /* Optional: Set a dark background */
}

.zoom-container {
  transform: scale(0.8); /* Scale the entire content to 80% */
  transform-origin: top center; /* Ensure scaling happens from the top center */
  width: 100vw; /* Ensure it spans the full viewport width */
  height: 100vh; /* Ensure it spans the full viewport height */
  overflow: hidden; /* Prevent clipping at the edges */
}
